html, body {
  background-color: #333;
  font-size: 16px;
  color: #efefef;
  margin: 1vh;
  font-family: "Open Sans", arial, sans-serif;
}

#page_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game {
  height: 85vh;
  max-width: 98vw;
}

#debug {
  white-space: pre-line;
  vertical-align: top;
  font-family: "DejaVu Sans Mono Book", monospace;
  font-size: 0.7rem;
  line-height: 0.9rem;
}
